<h2 class="text-center">{{title}}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card-title>Software Developer</mat-card-title>
            <mat-card-subtitle>Developing</mat-card-subtitle>
            <mat-card-content>
                Job description:
                 To work with software development to
                 create a sotware.
                Job specificaton:
                 Canditates with 1 year experience,
                 Freshers can also apply.
            </mat-card-content>
        </div>
    </div>
</div>
