
<div class="container-fluid text-center bg-grey">
    <div class="row">
        <h2>Portfolio</h2>
        <h4>We have created</h4>
            <div class="col-md-4">
                <div class="thumbnail">
                <img src="../assets/img/1.jpg" width="400" height="300">
                <p><strong>Paris</strong></p>
                <p>Yes,we built in paris</p>
            </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
          <img src="../assets/img/1.jpg" width="400" height="300">
          <p><strong>London</strong></p>
          <p>Yes,we built in London</p>
      </div>
  </div>
  <div class="col-md-4">
      <div class="thumbnail">
      <img src="../assets/img/1.jpg" width="400" height="300">
      <p><strong>America</strong></p>
      <p>Yes,we built in America</p>
  </div>
</div>
    </div>
</div>